extends template.pug 
block main
  #container(class="container")
    form(action='http://localhost:3093/auth/product/create', method='POST', class="form", enctype="multipart/form-data")
      p(class="form-desc") Тут можна створити новий пост
      label(for="title") Enter the title
      input(type='text', name='title', value='', class="input-text")

      label(for="description") Enter the description
      input(type='text', name='description', value='', class="input-text")

      label(for="product_type") Enter the product type
      input(type='text', name='product_type', value='', class="input-text")

      label(for="img_name") Select the image
      input(type='file', name='img_name', value='')

      input(type='submit', value='Submit' class="submit-btn")
  //-   h5 Hello #{name}
  //- #app  {{message}}
  //- script.
  //-   const { createApp } = Vue
  //-   createApp({
  //-     data() {
  //-       return {
  //-         name: '#{name}',
  //-         city: '#{city}'
  //-       }
  //-     },
  //-     template: '<h1>OK, let`s go {{city}} #{city}</h1>'
  //-   }).mount('#app')

block scripts
  script(src="https://unpkg.com/vue@3/dist/vue.global.js")
  script(src="js/index.js")
