extends template.pug 
block main
  #container(class="container")
    div(class="nav-bar")
      div( class="nav-bar-elem" )
        //- a(href="https://api.sitrix.co.ua/create-product-page")
        a(href="https://localhost:3093/create-product-page")
          img( class="nav-bar-icon" src="./images/edit-boil.svg" alt="create")
      div( class="nav-bar-elem" )
        //- a(href="https://api.sitrix.co.ua/update-product-page")
        a(href="https://localhost:3093/update-product-page")
          img( class="nav-bar-icon" src="./images/gear.svg" alt="edit")
      div( class="nav-bar-elem" )
        //- a(href="https://api.sitrix.co.ua/delete-product-page")
        a(href="https://localhost:3093/delete-product-page")
          img( class="nav-bar-icon" src="./images/trash.svg" alt="delete")
block scripts
  script(src="js/index.js")
