extends template.pug 
block main
  #container(class="container")
    form(action='http://localhost:3093/auth/admins/register', method='POST', class="form")
      p(class="form-desc") Це сторінка ваторизації адміністратора
      p(class="form-desc") Для продовження прийди авторизацію
      label(for="login") Enter the username
      input(type='text', name='login', value='', class="input-text")

      label(for="password") Enter the password
      input(type='password', name='password', value='', class="input-text")

      input(type='submit', value='Submit' class="submit-btn")
block scripts
  script(src="https://unpkg.com/vue@3/dist/vue.global.js")
  script(src="js/index.js")
