doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    block styles
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/header.css")
    link(rel="stylesheet" href="./css/home-page.css")
    link(rel="stylesheet" href="./css/delete-page.css")
    link(rel="stylesheet" href="./css/update-page.css")
    link(rel="icon" type="image/x-icon" href="./images/favicon.png")
  body(onload="getAllProducts()")
    header( class="header" )
      div( class="logo-container")  
        img( class="favicon" src="./images/favicon.png" alt="logo")
        h6(class="logo-name") SITRIX
      div( class="header-nav-bar-elem" )
        a(href="https://localhost:3093/home")
        a(href="https://api.sitrix.co.ua/home") 
          img( class="header-nav-bar-icon" src="./images/home.svg" alt="home")
    block scripts
    block main
    footer( class="footer" )
      img( class="favicon" src="./images/favicon.png" alt="logo")