doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    block styles
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/header.css")
    link(rel="stylesheet" href="./css/delete-page.css")
    link(rel="stylesheet" href="./css/update-page.css")
    link(rel="icon" type="image/x-icon" href="./images/favicon.png")
  body(onload="getAllProducts()")
    header( class="header" )
      h6 This is your header
      div( class="delete-product-elem" )
        a(href="http://localhost:3093/delete-product-page")
          //- img( class="delete-page-icon" src="./images/gear.svg" alt="gear")
          img( class="delete-page-icon" src="./images/trash.svg" alt="trash")
    block scripts
    block main
    footer( class="footer" )
      p This is your footer 