* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*main styles*/

body {
  background-color: rgb(240, 248, 255);
  font-family: 'Roboto', sans-serif;
}


.header,
.footer {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: #87cefa;
  align-items: center;
}

.container {
  height: calc(100% - 120px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 25px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 15px 25px; */
}

.form-desc {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.input-text {
  border: 1px solid black;
  width: 500px;
  height: 3em;
  border-radius: 7px;
}

.submit-btn {
  width: 200px;
  height: 50px;
  margin: 20px 0;
  border-radius: 50px;
  background-color: #45a049;

}