h6 {
  color: red;
}

h5 {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;  
  background-color: green;
  height: 300px;
  justify-content: space-between;
  padding: 15px 25px;
}

.submit-btn{
  width: 100px;
}